body{

    font-family: Arial, sans-serif;

    background:#FFF8DC;

    padding:20px;

}

textarea{

    width:100%;

    font-size:18px;

    line-height:1.8;

}

button{

    padding:10px 20px;

    font-size:18px;

}

#output{

    margin-top:20px;

    font-size:18px;

    line-height:2;

}
